.view.about {
  .content {
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
  }

  .fucking-awesome-unicorn {
    display: block;
    margin: 0 auto 2.5rem;
  }

  .ant-btn {
    padding: 0;
  }
}