.view.notification {
  @extend .modal-form;

  height: 100vh;
  padding-top: 0;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon {
    padding: 2rem 0;
    position: relative;

    svg {
      position: relative;
      background: #fff;
      display: block;
      margin: 0 auto;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      border: 1px dashed #ccc;
    }
  }

  .warning {
    margin-top: 24px;
    text-align: center;
  }

  .hash {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 12rem;
  }

  .wallet {
    @extend .background-striped;
    
    color: #fff;
    padding: 1rem;
    margin: 0 -1.5rem;
    text-align: center;

    .label {
      margin: 0 auto;
      font-size: 1.2rem;
      width: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
  
      span {
        font-size: 2rem;
        margin: 0 1rem 0 0;
      }
    }

    a {
      color: #fff;
    }

    .address {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .balance {
      color: #f8b002;
    }
  }

  .wallet-empty {
    background: rgb(199, 199, 199);
    padding: 1rem;
    margin: 0 -1.5rem 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .amount,
  .wallet {
    margin-bottom: 12px;
  }

  .payload {
    margin-bottom: 24px;
  }

  .merchant-address {
    text-align :center;
  }

  .merchant-info {
    margin-bottom: 6px;
  }

  .ant-alert {
    padding-left: 50px;
  }

  .amount {
    .ant-alert-icon {
      top: 14px;
    }

    .ant-alert-message {
      display: flex;
      align-items: center;

      .value {
        font-size: 1.5rem;
      }

      .not-enough {
        color: #ff4d4f;
        margin: 0 0 0 1rem;
        flex-grow: 1;
        text-align: right;
        line-height: 1;
      }
    }
  }

  .ant-alert-icon {
    top: 6px;
    margin: 0 1rem 0 0;

    svg {
      display: block;
    }
  }

  .buttons {
    @extend .flex-center;
    margin: 1rem 0 0 0;

    .ant-btn {
      flex-grow: 1;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}