button.expand {
  z-index: 2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: .5;
  line-height: 1 !important;
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.app.tab,
.app.notification {
  button.expand {
    display: none;
  }
}