.wallet-data {
  height: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: .75rem;

  .head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    min-height: 32px;
    font-size: 14px;
    font-weight: bold;
  }

  .data {
    height: 100%;
    overflow: auto;
    position: relative;

    .empty {
      @extend .flex-center;
      height: 100%;
      font-size: 1rem;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: .5rem;
      border-bottom: 1px solid #d9d9d9;
    }
  }
}