.cp.wallet-txs {
  @extend .wallet-data;
  margin: -2rem 0 0 0;

  .head {
    .ant-pagination {
      position: relative;
      z-index: 2;
    }
  }

  .hash-from-payload {
    display: flex;
    align-items: center;

    .hash-from {
      width: 13rem;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;

      .from {
        display: inline-flex;
        align-items: center;
      }

      .from .arrow {
        margin: 0 .5rem;
      }
    }

    .tx-link,
    .address-link,
    .validator-link {
      padding: 0;
      vertical-align: middle;
    }

    .me {
      color: $color-action;
    }

    .icon-payload {
      cursor: pointer;
      margin: 0 0 0 .5rem;
      font-size: 1.5rem;
      transition: transform 0.2s ;
      outline: none;
      position: relative;
      flex-shrink: 0;
    }

    .icon-payload:hover {
      animation-duration: .6s;
      animation-name: bounce-top;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }
  }

  .type-amount {
    flex-grow: 1;
    text-align: right;
  }

  .amount {
    font-size: 1.25rem;
    margin: 0 0 0 1rem;
  }
}