.cp.delegations {
  @extend .wallet-data;
  font-size: 1.25rem;
  margin: -2rem 0 0 0;

  .pub-key {
    width: 15rem;
  }

  .coin-value {
    flex-grow: 1;
    text-align: right;

    span {
      display: block;;
    }
  }

  .small {
    font-size: .85rem;
  }
}