.cp.wallet-info {
  display: flex;
  color: #fff;
  align-items: center;
  padding: 0 0 1rem 0;

  a {
    color: #fff;
  }

  svg.bip {
    width: 40px;
    height: 40px;
    margin: 0 .5rem 0 0;
  }

  .info {
    flex-grow: 1;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      flex-shrink: 0;

      .ant-btn {
        margin: 0 0 0 .5rem ;
      }
    }
  }

  .balance {
    margin: -.25rem 0 0 0;
  }

  .bip {
    font-size: 1.25rem;
  }
}