.view {
  height: 0;
  flex-grow: 1;
  padding: 1.5rem;
  position: relative;

  .view-header {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;

    .back {
      margin: 0 .5rem 0 0;
    }

    h2 {
      margin: 0;
    }
  }

  .view-content {
    height: 0;
    flex-grow: 1;
    overflow: auto;
  }
}