.cp.menu {
  @extend .noselect;
  
  .ant-drawer-header {
    @extend .background-striped;
    
    padding: 7px 0;
    border-radius: 0;

    .ant-drawer-title {
      color: #fff;

      .ant-menu-item {
        color: #f8b002;
      }
    }
  }

  .ant-drawer-wrapper-body {
    display: flex;
    flex-direction: column;
  }

  .delimiter {
    border-bottom: 1px solid #e8e8e8
  }

  .ant-drawer-body {
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .ant-drawer-content-wrapper {
    max-width: 20rem;
  }

  .ant-menu {
    background: none;
  }

  .ant-menu-inline {
    border: none;

    li {
      height: 50px;
      line-height: 50px;
      width: auto;
      margin: 0;
    }
  }
}