.header.ant-layout-header {
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:before {
    @extend .background-striped;

    content: '';
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
  }

  .logo {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .start,
  .center,
  .end {
    position: relative;
    z-index: 2;
  }
  
  .start {
    width: 80px;
    display: flex;
    align-items: center;
  }

  .center {
    @extend .flex-center;

    font-size: 1.25rem;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .end {
    flex-shrink: 0;
  }
}

.app.notification {
  .header.ant-layout-header {
    .start,
    .end {
      display: none;
    }
  }
}